
.falcon-home {
  position: absolute;
  top: 300px;
  padding-top: 48px;
  background-color: #f9f9f9;

  &__content {
    border: 1px solid lightgray;
    border-radius: 6px;
    margin: 0 8px 32px;
    box-shadow: 0 1px 8px rgba(114, 114, 114, 0.5);
    padding: 16px;
  }

  &__heading {
    font-size: 3rem;
    text-align: center;
    color: rgb(24, 32, 114);
    font-weight: 700;
    line-height: 36px;
  }

  &__subtext {
    text-align: center;
    font-size: 2rem;
    line-height: 30px;
  }

  &__icon {
    display: flex;
    justify-content: center;
    margin: 12px 0;

    & svg {
      height: 70px;
      width: 70px;
    }
  }

  &__link {
    display: flex;
    justify-content: center;
    border-radius: 3px;
    width: 100px;
    margin: 0 auto;
    margin-top: 16px;
    height: 40px;
    width: 160px;
    font-size: 1.6rem;
    align-items: center;
    color: white;
    background-color: rgb(68, 196, 161);
    box-shadow: 0 3px 4.7px .3px rgba(0,0,0,.23), 0 1px 6.86px .14px rgba(0,0,0,.15);
  }
}