
.falcon-home {
  position: absolute;
  top: 300px;
  padding-top: 48px;
  background-color: #f9f9f9;

  &__content {
    border: 1px solid lightgray;
    border-radius: 6px;
    margin: 0 8px 32px;
    box-shadow: 0 1px 8px rgba(114, 114, 114, 0.5);
    padding: 16px;
  }

  &__heading {
    font-size: 3rem;
    text-align: center;
    color: rgb(24, 32, 114);
    font-weight: 700;
    line-height: 36px;
  }

  &__subtext {
    text-align: center;
    font-size: 2rem;
    line-height: 30px;
  }

  &__icon {
    display: flex;
    justify-content: center;
    margin: 12px 0;

    & svg {
      height: 70px;
      width: 70px;
    }
  }
}