.falcon-footer {
  background-color: #18232c;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__text {
    color: white;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
  }

  &__link {
    color: white;
    text-align: center;
    display: flex;
    font-size: 1.6rem;
    border: 1px solid #d9534f;
    margin-top: 16px;
    background-color: #d9534f;
    border-radius: 3px;
    height: 40px;
    width: 160px;
    align-items: center;
    justify-content: center;
  }
}
