.side-bar {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 150px;
  right: 0;

  z-index: 3;
  background: rgba(21, 32, 114, 1);
  transition: .25s ease-in-out;
  padding-top: 22px;
  padding-right: 12px;

  overflow-x: hidden;
  margin-left: auto;
  height: 100%;
  width: 150px;
  transform: translateX(165px);

  &.expanded {
    transition: .25s ease-in-out;
    transform: translateX(0px);
    box-shadow: 0 1px 20px rgba(115, 115, 115, 0.4);
  }
}